.cardimage {
  height: 200px;
  width: 225px;
}
.btn {
  background-color: yellow;
  color: black;
  border-color: yellow;
}
body {
  background-image: linear-gradient(to bottom right, orange, red);
}
.nav-link > li.active > a{
    color: red;
}

.card {
  background-color: White;
  color: Black;
}
.cardpad {
  margin-left: 25px;
  margin-bottom: 25px;
}
.about {
  height: 25%;
  width: 25%;
}
.nav-link {
  color: white;
}
.row {
    margin-left: 10%;
}
h2 {
  padding-bottom: 2%;
}
.about-me {
  color: white;

}
.right {
  float: right;
}
.morb {
  height: 85%;
  width: 85%
}
.future {
  color: white;
}
.message {
  color: green;
}
.insta {
  color: hotpink;
}
.chat {
  color: yellow;
}
.discord {
  color: darkblue;
}
